h1 {
    font-size: 26px;
    user-select: none;
}

h2 {
    font-size: 18px;
    user-select: none;
}

h3 {
    user-select: none;
}

.rolls-length-text-kind {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}